<section class="hero">
    <div class="card">
        <div class="circle"></div>
        <div class="content">
            <h2>Pepsi</h2>
            <h3>Zero Sugar</h3>
            <p>
                Pepsi Zero Sugar is the only soda with zero caleries and maximum pepsi taste!
            </p>
            <a href="">Buy Now</a>
        </div>
        <img src="/img/pepsi.png" alt="">
    </div>
    <div class="card">
        <div class="circle1"></div>
        <div class="content">
            <h2>Fanta</h2>
            <h3>Caffeine Free</h3>
            <p>
                Bright, bubbly, instantly refreshing and great tasting. Fanta is made with 100% natural flavours and
                is caffeine free. Fanta is available in a variety of real fruit flavours.
            </p>
            <a href="">Buy Now</a>
        </div>
        <div class="fanta">
            <img src="/img/fanta.png" alt="">
        </div>
    </div>
    <div class="card">
        <div class="circle2"></div>
        <div class="content">
            <h2>Coca-Cola</h2>
            <h3>Zero</h3>
            <p>
                Coke Zero does not contain any calories or sugar and is not a significant source of nutrients. It’s
                sweetened with artificial sweeteners, which have controversial health effects.


            </p>
            <a href="">Buy Now</a>
        </div>
        <div class="coca">

            <img src="/img/cocacola1.png" alt="">
        </div>
    </div>
</section>

<!-- Section For Menu -->
<section class="menu container mx-auto py-8">
    <h2 class="text-xl font-bold mb-8">All Drinks</h2>
    <div class="grid grid-cols-4 col-gap-12 row-gap-16">
        <% drinks.forEach(function(drink){%>
            <div class="text-center w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%=drink.image%>" alt="">
                <div>
                    <h2 class="mb-4 text-xl">
                        <%=drink.name%>
                    </h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">
                        <%=drink.special%>
                    </span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹<%=drink.price%></span>
                        <button data-drink="<%= JSON.stringify(drink) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold ml-6">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <% })%>
    </div>

</section>