<!-- <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100"> -->

<%if(user){%>
    <div class="profile">

        <p>Name:<%=user.name%>
        </p>
        <p>Email:<%=user.email%>
        </p>
        <p>Phone:<%=user.phone%>
        </p>
        <!-- <a href=""><button></button></a> -->
    </div>
    <%}%>